@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Message"]</h4>
<h4>Cookie: @ViewData["Cookies"]</h4>
<h4>@localizer["Walking"]</h4>
<p>Use this page to detail your site's privacy policy.</p>
